.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Red Hat Display';

    &__name {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        font-size: 20px;
        color: rgba(31, 139, 255, 1);

        img {
            height: 50px;
        }
    }

    h2 {
        font-size: clamp(40px, 5vw, 56px);
        line-height: 1.28;
        font-weight: 600;
        color: rgba(29, 29, 29, 1);
        letter-spacing: 0.01em;
    }

    @media (max-width: 900px) {
        max-width: 704px;
        gap: 0px;

        &__name {
            font-size: 18px;

            img {
                height: 44px;
            }
        }
    }

    @media (max-width: 400px) {
        max-width: 344px;
        gap: 10px;

            h2 {
                font-size: 32px;
            }

        &__name {
            font-size: 16px;

            img {
                height: 40px;
            }
        }
    }
}