@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  font-family: 'Red Hat Display';
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}


:root {
    --section-space: 100px;
    --section-mobile: 50px;
}

.section {
    padding-block: var(--section-space);

    @media (max-width: 900px) {
      padding-block: var(--section-mobile);
    }
}

#product,
#advantages,
#features,
#why-nexora,
#use-cases {
    scroll-margin-top: 80px;
}
